<launch>
    <node name="cnn_analytics" pkg="cnn_lanefollowing" type="analyze_output_node.py" required="true" output="screen">
        <rosparam param="trained_networks">
            [
            "/home/dominik/dataspace/models/direct_caffe_copy/run1_0500.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run1_1000.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run1_1500.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run1_2000.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run2_0500.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run2_1000.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run2_1500.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run2_2000.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run2_2500.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run3_0500.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run3_1000.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run3_1500.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run3_2000.pth",
            "/home/dominik/dataspace/models/direct_caffe_copy/run3_2500.pth",
            "/home/dominik/dataspace/models/mixed_images/run1_1000.pth",
            "/home/dominik/dataspace/models/mixed_images/run1_2000.pth",
            "/home/dominik/dataspace/models/mixed_images/run2_0500.pth",
            "/home/dominik/dataspace/models/mixed_images/run2_1000.pth",
            "/home/dominik/dataspace/models/mixed_images/run2_1500.pth",
            "/home/dominik/dataspace/models/mixed_images/run2_2000.pth",
            "/home/dominik/dataspace/models/mixed_images/run2_2500.pth"
            ]
        </rosparam>
        <param name="data_dir" value="/home/dominik/workspace/duckietown_imitation_learning/test_images"/>
        <param name="out_file" value="/home/dominik/dataspace/output/test_orig.txt"/>
    </node>
</launch>

